.flex {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 19rem;
  margin: 20vh auto;
  box-shadow: 15px 20px 70px -10px;
  background-image: radial-gradient(circle, #3f51b5, #d6d1ff, #3f51b5);
}
.Title{
  font-weight: 900;
  font-family: cursive;
  font-size: 20px;
}
.rangeslider__fill{
  background-color: #3f51b5 !important;
}